<div class="cont maincont">
	<h1><span>Newslleter</span></h1>
	<span class="maincont-line1 maincont-line12"></span>
	<span class="maincont-line2 maincont-line22"></span>

  <%= render 'form', newslleter: @newslleter %>

  <%= link_to 'Back', newslleters_path %>

</div>
